export(alphatize)
export(color)
export(colored)
export(controller)
export(fastback)
export(key)
export(panel.plotbraids)
export(panel.prevalence)
export(panel.radarplot)
export(plotbraids)
export(predReg)
export(prepanel.prevalence)
export(radarplot)
export(relevel)
export(remvar)
export(representNA.data.frame)
export(representNA)
export(timeline)
import(grid)
import(lattice)
import(rms)
import(stats)
S3method("[",colored)
S3method(color,colored)
S3method(droplevels,colored)
S3method(key,colored)
S3method(relevel,colored)
